.g-shell {
    position: relative;
    height: 70vh;
    width: 100%;
}

#g-main {
    position: absolute;
    background-image: url("https://z3.ax1x.com/2021/09/23/4w0i2q.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    right: 1%;
    height: 70vh;
    width: 98%;
}

.g-button {
    position: absolute;
    top: 35vh;
    height: 50px;
    width: 50px;
    text-align: center;
    color: var(--theme-color);
    border: 1px solid #eee;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

.g-button:hover {
    color: cornsilk;
    background-color: var(--theme-color);
    transition: all .2s ease-in-out;
}

.prev {
    border-radius: 0 100% 100% 0;
    left: 0;
}

.next {
    border-radius: 100% 0 0 100%;
    right: 0;
}

.random {
    position: absolute;
    text-align: center;
    color: var(--theme-color);
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: transparent;
    bottom: 0;
    left: 40%;
    height: 50px;
    width: 20%;
    transition: all .2s ease-in-out;
}

.random:hover {
    background-color: var(--theme-color);
    color: cornsilk;
    transition: all .2s ease-in-out;
}