.fakeBody,
.face,
.scene,
.cube {
    box-sizing: border-box;
}
  
.fakeBody {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.scene {
    perspective: 300vw;
    width: 100vw;
    height: calc(100vh - 200px);
  }
  
.cube {
    position: relative;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform: translateZ(-50vw) rotateY(calc((1 - var(--rotatePercent)) * 90deg * -1));
}
  
.cube.transition {
    transition: transform .25s;
}
  
.face {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
}
  
.face-left { transform: rotateY(0deg) translateZ(50vw); }
  
.face-front { transform: rotateY(90deg) translateZ(50vw); }
  
.face-right { transform: rotateY(180deg) translateZ(50vw); }
  